body {
  background-color: lightblue;
}

.fraga {
  font-size: 1.8vw;
  color: mediumvioletred;
}

.svar {
  font-size: 1.4vw;
  color: red;
}

#bildflyt {
  float: right;  
}

/* mouse over link */
a:hover {
  color: hotpink;
}

.bcolor {
  background-color: pink;
}

.bimage {
  background-image: url("bakground.png");
}
